.parent {
  background-color: whitesmoke;
}
a:link {
  color: orange;
}
a:visited {
  color: green;
}
a:hover {
  color: purple;
}
a:active {
  color: red;
}
.parent p:nth-child(4) {
  color: red;
}
.parent p:nth-of-type(4) {
  color: blue;
}
/* 指定をクラスとタグで変えた場合、なぜdivタグの時はaタグに指示が効かないのでしょうか？ */
div :not(p) {
  color: orange;
}
.parent :not(p) {
  text-decoration: line-through;
}